* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: calibri;
}

a {
	text-decoration: none;
}

/*Formulario de registro y logueo*/
.contenedorreg .formreg .formreg-header .formreg-title, .contenedorlog .formlog .formlog-header .formlog-title {
	font-weight: normal;
	font-family: sans-serif;
	color: #2474c4;
	text-align: center;
	padding: 14px 0px;
}

.contenedorreg .formreg, .contenedorlog .formlog {
	background: rgba(0,0,0,.6);
	width: 90%;
	max-width: 305px;
	margin-left: 500px;
	padding: 0px 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	border-radius: 3px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.contenedorreg .formreg .formreg-input, .contenedorlog .formlog .formlog-input {
	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
}

.contenedorreg .formreg .formreg-input:focus, .contenedorlog .formlog .formlog-input:focus {
    border: 1px solid #196eef;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.contenedorreg .formreg .formreg-input:hover, .contenedorlog .formlog .formlog-input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.contenedorreg .formreg .btnreg-submit, .contenedorlog .formlog .btnlog-submit {
	width: 100%;
	font-family: Calibri;
	outline: none;
	background: #196eef;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 10px 0px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all .2s ease;
}

.contenedorreg .formreg .btnreg-submit:hover, .contenedorlog .formlog .btnlog-submit:hover {
	background: #2e7ff9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.contenedorreg .formreg .formreg-loguear, .contenedorlog .formlog .formlog-reg {
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding: 14px 0px;
	margin-top: -20px;
	text-decoration: none;
}

.contenedorreg .formreg .formreg-loguear a, .contenedorlog .formlog .formlog-reg a {
	text-decoration: none;
	color: black;
}

.contenedorreg .formreg .formreg-loguear a:hover, .contenedorlog .formlog .formlog-reg a:hover {
	text-decoration: none;
	color: #1d1e1e;
}

.form-message {
	font-weight: bold;
	font-family: sans-serif;
	color: #ee0c27;
	text-align: center;
	padding: 14px 0px;
}

.form-messageOk {
	font-weight: bold;
	font-family: sans-serif;
	color: #15df08;
	text-align: center;
	padding: 14px 0px;
}

/*filtro*/

.contenedor-tareas-tabla {
	margin: auto;
	width: 895px;
	
}

.cabecera-tabla {
	font-color: white;
	margin: auto;
	width: 895px;
	text-align: center;
	border-collapse: collapse;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.cabecera-tabla tr {
    background-color: #2474c4;
	color: white; 
	padding: 5px;
}

th,td {
	padding: 5px;
}

.tarea-tabla {
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.tarea-tabla tr {
	background-color: #f5f7f9; 
	padding: 5px;
}

.tarea-tabla tr:hover {
	background-color: #a6cbf4;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
	transition: all .2s ease;
}

.col-titulo-tarea {
	width: 500px;
	text-align: center;
}

.col-tarea {
	width: 500px;
}

.col-realizada {
	width: 80px;
	text-align: center;
}

.icon-check {
	color: #0d7e0d;
}

.icon-circle {
	color: #ff8000;
}

.col-titulo-realizada {
	width: 80px;
	text-align: center;
}

.col-titulo-fecha {
	width: 130px;
	text-align: center;
}

.col-fecha {
	width: 130px;
	text-align: center;
}

.col-titulo-editar {
	width: 20px;
}

.col-editar {
	width: 20px;
	text-align: center;
}

.col-editar span {
	color: gray;
}

.col-editar span:hover {
	color: #c55a0b;
	font-size: 110%;
	text-shadow: 1px 1px rgba(0,0,0,0.24);
}

.col-titulo-borrar {
	width: 20px;
}

.col-borrar {
	width: 20px;
	text-align: center;
}

.col-borrar span {
    color: gray;
}

.col-borrar span:hover {
	color: #f43e54;
	font-size: 110%;
	text-shadow: 1px 1px rgba(0,0,0,0.24);
}

.margen-inf {
	height: 40px;
}

.contenedor-form-select {
	border: none;
	outline: none;
	width: 100%;
	padding: 8px;
	margin-top: 100px;
	margin-bottom: 0px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;	
}

.form-select {
	border: none;
	outline: none;
	width: 565px;
	padding: 8px;
	margin-left: 390px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
}

.form-select-input, .form-select-lista {
	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	width: 200px;
	height: 35px;
	padding: 8px;
	margin-bottom: 20px;
	margin-right: 10px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
}

.form-select-input:hover, .form-select-lista:hover, .form-select-input:focus, .form-select-lista:focus {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);	
}

.btn-select {
    width: 60px;
	outline: none;
	background: #2474c4;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 10px 0px;
	cursor: pointer;
	margin-bottom: 20px;
}

.btn-select:hover {
	background: #2e7ff9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
	transition: all .2s ease;
}

/*Formulario de edicion*/
.form-edit {
	width: 250px;
	margin: auto; 
	font-weight: bold;
	font-family: calibri;
	text-align: center;
	padding: 14px 0px;
	margin-top: 90px;
	text-decoration: none;
}

.formedit-input:hover, .formedit-lista:hover, .formedit-input:focus, .formedit-lista:focus {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);	
}

.btn-edit{
	width: 100%;
	font-family: Calibri;
	outline: none;
	background: #2474c4;
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 10px 0px;
	cursor: pointer;
	margin-bottom: 20px;
}

.btn-edit:hover {
	background: #2e7ff9;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
	transition: all .2s ease;
}

.formedit-input, .formedit-lista {
	background: rgba(0,0,0,.7);
	border: none;
	outline: none;
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
	font-family: Calibri;
}

.header {
	background: rgba(0,0,0,.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}

.header a {
	color: white; 
	padding: 2rem 0;
	text-decoration: none;
}

.usuario-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user {
	font-family: Calibri;
	width: 300px;
	height: 20px;
	margin-top: 3px;
}

.user span {
	color: white;
	margin-bottom: 2px;
	margin-right: 4px;
}

.user p {
	font-family: Calibri;
	color: white;
	margin-bottom: 4px;
	margin-left: 20px;
}

.user p .icon-cog {
	color: #2474c4;
	font-size: 90%;
	margin-left: 5px;
}

.user p .icon-cog:hover {
	color: #2e7ff9;
}

.navigation span {
	color: #2474c4;
	font-size: 150%;
	margin-left: 10px;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li {
	display: inline-block;
}

.navigation ul li a {
	display: block;
	padding: 0.5rem 1rem;
}

.icon-plus:hover, .icon-sign-out:hover, .icon-filter:hover {
 	color: #2e7ff9;
 }